* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.container {
  margin: 0px auto;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  width: 1440px;
  padding-left: 145px;
  padding-right: 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.menu .burger {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.menu ul {
  display: flex;
  list-style: none;
  gap: 22px;
  align-items: center;
}
.menu ul li a {
  color: black;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
}
.menu ul button {
  border: 1px solid black;
  border-radius: 100px;
  padding: 13px 25px 13px 25px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: 0%;
}
.menu ul .white {
  color: black;
}
.menu ul .black {
  color: white;
  background-color: black;
}

#content-1 {
  width: 1440px;
  padding-left: 145px;
  padding-right: 145px;
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  align-items: center;
}
#content-1 .block-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 28px;
  gap: 27px;
}
#content-1 .block-1 h2 {
  color: black;
  font-family: Roboto;
  font-size: 77px;
  font-weight: 700;
  line-height: 82.8px;
  letter-spacing: 0%;
  text-align: left;
}
#content-1 .block-1 p {
  color: black;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.6px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 50px;
}
#content-1 .block-1 span {
  color: black;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
#content-1 .block-1 button {
  border: 1px solid black;
  border-radius: 100px;
  padding: 13px 25px 13px 25px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: 0%;
  color: white;
  background-color: black;
}
#content-1 .block-1 .btn-pink {
  color: black;
  background: #f7b2b7;
  border: none;
}
#content-1 .block-2 img {
  width: 650px;
}

#content-2 {
  width: 1440px;
  padding-left: 145px;
  padding-right: 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin-top: 54px;
  padding-top: 50px;
  padding-bottom: 120px;
}
#content-2 .block-2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 33px;
}
#content-2 .block-2 h3 {
  color: black;
  font-family: Roboto;
  font-size: 57px;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: 0%;
  text-align: left;
}
#content-2 .block-2 p {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30.6px;
  letter-spacing: 0%;
  text-align: left;
}

#content-3 {
  width: 1440px;
  padding-left: 145px;
  padding-right: 145px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 100px;
  padding-top: 33px;
  padding-bottom: 125px;
  gap: 50px;
}
#content-3 h3 {
  color: black;
  font-family: Roboto;
  font-size: 58px;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: 0%;
  text-align: left;
}
#content-3 .box {
  display: flex;
  justify-content: space-between;
  gap: 54px;
  padding-bottom: 17px;
}
#content-3 .box .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
#content-3 .box .card h4 {
  color: black;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
#content-3 .box .card p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
#content-3 .box .card a {
  color: #335c81;
}
#content-3 .box .card img {
  width: 200px;
  height: 150px;
}
#content-3 button {
  padding: 12px 30px 12px 30px;
  border: none;
  border-radius: 100px;
  background: #f7b2b7;
  color: black;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: 0%;
}

#content-4 {
  width: 1440px;
  display: flex;
  flex-direction: column;
  margin-top: 54px;
  padding-top: 33px;
  padding-bottom: 70px;
  background: #fdeced;
  padding-left: 145px;
  padding-right: 145px;
}
#content-4 h3 {
  color: black;
  font-family: Roboto;
  font-size: 58px;
  font-weight: 400;
  line-height: 57.6px;
  letter-spacing: 0%;
  text-align: left;
}
#content-4 .block {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 62px;
  gap: 54px;
}
#content-4 .block .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 70px;
}
#content-4 .block .card img {
  margin-bottom: 24px;
}
#content-4 .block .card h4 {
  color: black;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}
#content-4 .block .card p {
  color: black;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

footer {
  width: 1440px;
  padding-top: 45px;
  padding-bottom: 27px;
  background: #302e3f;
  padding-left: 145px;
  padding-right: 145px;
}
footer span {
  color: #c5e9ea;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: 0%;
  text-align: left;
}
footer .block-1 {
  display: flex;
  margin-bottom: 45px;
  align-items: center;
}
footer .block-1 h4 {
  color: white;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
footer .block-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
footer .block-2 h5 {
  color: white;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: 0%;
  text-align: left;
}
footer .block-2 .box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .block-3 {
  display: flex;
  gap: 27px;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1024px;
  }
  .container .menu {
    max-width: 1024px;
  }
  .container .menu .burger {
    display: flex;
  }
  .container .menu ul li {
    display: none;
  }
  .container main {
    max-width: 1024px;
  }
  .container main #content-1 {
    max-width: 1024px;
    padding-bottom: 30px;
  }
  .container main #content-1 .block-2 {
    max-width: 500px;
  }
  .container main #content-2 {
    max-width: 1024px;
  }
  .container main #content-2 .block-1 {
    max-width: 450px;
  }
  .container main #content-3 {
    max-width: 1024px;
  }
  .container main #content-4 {
    max-width: 1024px;
  }
  .container main #content-4 .block {
    display: block;
    padding-top: 0;
  }
  .container main #content-4 .block .card {
    padding-bottom: 20px;
  }
  .container main #content-4 .block .card p {
    max-width: 500px;
  }
  .container footer {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 425px;
    display: flex;
    justify-content: center;
  }
  .container .menu {
    max-width: 425px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .container .menu ul {
    display: none;
  }
  .container main {
    max-width: 425px;
  }
  .container main #content-1 {
    max-width: 425px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
  }
  .container main #content-1 .block-2 {
    display: none;
  }
  .container main #content-2 {
    max-width: 425px;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }
  .container main #content-2 .block-1 img {
    width: 350px;
    height: 250px;
  }
  .container main #content-3 {
    max-width: 425px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .container main #content-3 .box {
    flex-direction: column;
  }
  .container main #content-4 {
    max-width: 425px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .container footer {
    max-width: 425px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .container footer .block-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    row-gap: 30px;
  }
  .container footer .block-3 span {
    font-size: 12px;
  }
}